<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Leisure</title>
  <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
  <!--Css stylesheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
  <!--Fonts Awesome-->
    <script src="https://use.fontawesome.com/a6ebce2573.js"></script>
  <!-- Icon -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </head>

<!--BODY-->
  <body>
    <%- include('./partials/app_bar.ejs') %>
  <!-- Movies Carousel -->
  <h1 class="carouselHeading" id="Hol">HollyWood Movies</h1>
  <!-- carousel 1 -->
  <section class="colored-section" id="HollyWood">
    <div  class="carousel-slide" data-ride="false">
        <div class="carousel-inner">
          <div class="carousel-item active container-fluid">
            <div class="row ">
              <div class="btn-12" style="display: grid;">
                <div class=" middle place">
                  <% if(articles != null) { %>
                    <% if(articles.total_results != 0) { %>
                      <% articles.results.forEach(function(article, index) { %>
                        <% if(article.poster_path != null) { %>
                          <img class="test-image f" src="https://image.tmdb.org/t/p/w500<%- article.poster_path %>" alt="">
                        <% } %>
                      <% }) %>
                    <% }%>
                  <% } %>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" onclick="sliderScrollLeft()" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" onclick="sliderScrollRight()" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> 
    </div>
  </section>

   <!-- Bollywood Maza -->
   <h1 class="carouselHeading" id="Bol">BollyWood Maza</h1>

   <!-- carousel 1 -->
   <section class="colored-section" id="BollyWood">
 
     <div id="testimonial-carousel-bol" class="carousel slide" data-ride="false">
 
       <div class="carousel-inner">
 
         <div class="carousel-item active container-fluid">
 
           <div class="row ">
 
             <div class="col-lg-2 btn">
               <div class="middle">
               <img class="testimonial-image f" src="/images/Bollywood Maza/bala.jpg" alt="gangs of wassepur" >
               <div class="text">Play &#9658</div>
             </div>
             </div>
 
             <div class="col-lg-2 btn">
               <div class="middle">
               <img class="testimonial-image f" src="/images/Bollywood Maza/simba.jpg" alt="the godfather" >
               <div class="text">Play &#9658</div>
             </div>
 
             </div>
 
             <div class="col-lg-2 btn">
               <div class="middle">
               <img class="testimonial-image f" src="/images/Bollywood Maza/bazar.jpg" alt="crazy rich asians" >
               <div class="text">Play &#9658</div>
             </div>
 
             </div>
 
             <div class="col-lg-2 btn">
               <div class="middle">
               <img class="testimonial-image f" src="/images/Bollywood Maza/fukrey.jpg" alt="crazy rich asians">
               <div class="text">Play &#9658</div>
             </div>
             </div>
           
             <div class="col-lg-2 btn">
               <div class="middle">
               <img class="testimonial-image f" src="/images/Bollywood Maza/tamasha.jpg" alt="gangs of wassepur" >
               <div class="text">Play &#9658</div>
             </div>
             </div>
 
             <div class="col-lg-2 btn">
               <div class="middle">
               <img class="testimonial-image f" src="/images/Bollywood Maza/gully.jpg" alt="the godfather">
               <div class="text">Play &#9658</div>
             </div>
             </div>
             
 
           </div>
         </div>
 
         <!-- carousel 2 -->
 
         <div class="carousel-item container-fluid">
 
           <div class="row ">
 
             <div class="col-lg-2 btn">
               <div class="middle">
               <img class="testimonial-image f" src="/images/Bollywood Maza/kabir.jpg" alt="gangs of wassepur" >
               <div class="text">Play &#9658</div>
             </div>
             </div>
 
             <div class="col-lg-2 btn">
               <div class="middle">
               <img class="testimonial-image f" src="/images/Bollywood Maza/chak.jpg" alt="the godfather" >
               <div class="text">Play &#9658</div>
             </div>
             </div>
 
             <div class="col-lg-2 btn">
               <div class="middle">
               <img class="testimonial-image f" src="/images/Bollywood Maza/behen.jpg" alt="crazy rich asians" >
               <div class="text">Play &#9658</div>
             </div>
             </div>
 
 
             <div class="col-lg-2 btn">
               <div class="middle">
               <img class="testimonial-image f" src="/images/Bollywood Maza/Meri-Pyaari-Bindu-movie-poster.jpg" alt="spectre">
               <div class="text">Play &#9658</div>
             </div>
             </div>
 
             <div class="col-lg-2 btn">
               <div class="middle">
               <img class="testimonial-image f" src="/images/Bollywood Maza/half.jpg" alt="crazy rich asians">
               <div class="text">Play &#9658</div>
             </div>
             </div>
 
 
             <div class="col-lg-2 btn">
               <div class="middle">
               <img class="testimonial-image f" src="/images/Bollywood Maza/Bhuj-_The_Pride_of_India_film_poster.jpg" alt="spectre">
               <div class="text">Play &#9658</div>
             </div>
             </div>
 
           </div>
         </div>
 
         
 
       </div>
 
 
       <a class="carousel-control-prev" href="#testimonial-carousel-bol" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="carousel-control-next" href="#testimonial-carousel-bol" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
 
 
     </div>
 
   </section>
 

  <!-- Documentary Carousel -->
  <h1 class="carouselHeading" id="Doc">Documentary</h1>

  <!-- carousel 1 -->
  <section class="colored-section" id="Documentary">

    <div id="testimonial-carousel-doc" class="carousel slide" data-ride="false">

      <div class="carousel-inner">

        <div class="carousel-item active container-fluid">

          <div class="row ">

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Documentary/Three Identical Strangers.jpg" alt="gangs of wassepur" >
              <div class="text">Play &#9658</div>
            </div>
            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Documentary/Angel of Nanjing.jpg" alt="the godfather" >
              <div class="text">Play &#9658</div>
            </div>
            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Documentary/Denial.jpg" alt="crazy rich asians" >
              <div class="text">Play &#9658</div>
            </div>
            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Documentary/Chef Flynn.jpeg" alt="crazy rich asians">
              <div class="text">Play &#9658</div>
            </div>
            </div>
          
            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Documentary/disneyplus howard.webp" alt="gangs of wassepur" >
              <div class="text">Play &#9658</div>
            </div>
            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Documentary/red.jpg" alt="the godfather">
              <div class="text">Play &#9658</div>
            </div>
            </div>
            

          </div>
        </div>

        <!-- carousel 2 -->

        <div class="carousel-item container-fluid">

          <div class="row ">

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Documentary/The Institute.jpg" alt="gangs of wassepur" >
                <div class="text">Play &#9658</div>
            </div>
            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Documentary/social.jpeg" alt="the godfather" >
              <div class="text">Play &#9658</div>
            </div>
            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Documentary/mother.jpg" alt="crazy rich asians" >
              <div class="text">Play &#9658</div>
            </div>
            </div>


            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Documentary/Durch Die Warnd.jpg" alt="spectre" >
              <div class="text">Play &#9658</div>
            </div>
            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Documentary/Jungle-UK-Poster.jpg" alt="crazy rich asians">
              <div class="text">Play &#9658</div>
            </div>
            </div>


            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Documentary/Mr.Soul.jpg" alt="spectre">
              <div class="text">Play &#9658</div>
            </div>
            </div>
          </div>
        </div>
        
      </div>


      <a class="carousel-control-prev" href="#testimonial-carousel-doc" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel-doc" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>


    </div>

  </section>

  <!-- Kids Carousel -->
  <h1 class="carouselHeading" id="Kid1">Kids</h1>

  <!-- carousel 1 -->
  <section class="colored-section" id="Kids">

    <div id="testimonial-carousel-kid" class="carousel slide" data-ride="false">

      <div class="carousel-inner">

        <div class="carousel-item active container-fluid">

          <div class="row ">

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Kids/shin.jpg" alt="gangs of wassepur" >
              <div class="text">Play &#9658</div>
            </div>
            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Kids/mrbean.jpg" alt="the godfather" >
              <div class="text">Play &#9658</div>
            </div>

            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Kids/tom.jpg" alt="crazy rich asians" >
              <div class="text">Play &#9658</div>
            </div>

            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Kids/dor.jpg" alt="crazy rich asians">
              <div class="text">Play &#9658</div>
            </div>
            </div>
          
            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Kids/drag.jpg" alt="gangs of wassepur" >
              <div class="text">Play &#9658</div>
            </div>
            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Kids/power.jpg" alt="the godfather">
              <div class="text">Play &#9658</div>
            </div>
            </div>
            

          </div>
        </div>

        <!-- carousel 2 -->

        <div class="carousel-item container-fluid">

          <div class="row ">

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Kids/bay.png" alt="gangs of wassepur" >
              <div class="text">Play &#9658</div>
            </div>
            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Kids/pok.png" alt="the godfather" >
              <div class="text">Play &#9658</div>
            </div>
            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Kids/nar.jpg" alt="crazy rich asians" >
              <div class="text">Play &#9658</div>
            </div>
            </div>


            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Kids/ben.jpg" alt="spectre" >
              <div class="text">Play &#9658</div>
            </div>
            </div>

            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Kids/spong.jpg" alt="crazy rich asians">
              <div class="text">Play &#9658</div>
            </div>
            </div>


            <div class="col-lg-2 btn">
              <div class="middle">
              <img class="testimonial-image f" src="/images/Kids/bob.jpg" alt="spectre">
              <div class="text">Play &#9658</div>
            </div>
            </div>

          </div>
        </div>
      </div>


      <a class="carousel-control-prev" href="#testimonial-carousel-kid" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel-kid" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>


    </div>

  </section>

 

  <footer class="white-section" id="footer">
    <div class="container-fluid">

      <a class="social-icons" href="https://twitter.com/?lang=en-in"> <i class="social-icon fa fa-twitter"></i></a>
      <a class="social-icons" href="https://www.facebook.com/278029242253904"> <i
          class="social-icon fa fa-facebook-f"></i></a>
      <a class="social-icons" href="https://www.instagram.com/?hl=en"> <i class="social-icon fa fa-instagram"></i></a>
      <a class="social-icons" href="https://www.reddit.com/"> <i class="social-icon fa fa-reddit"></i></a>
      <p class="copyright">© Copyright 2020 Leisure</p>
      <p> All Rights Reserved. Liesure, Liesure Box Office and all related channel and programming logos are service marks of, and all related programming visuals and elements are the property of, Liesure Box Office, Inc. All rights reserved.</p>
    </div>
  </footer>


</body>

</html>
<!-- use id # to make nevigation button work -->