body 
  {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color:#080808;
    color:#fff;
  }
  /* #101010 */
.btn 
  {
    width: 100vw;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    opacity: 1;
    /* transition: 0.3s; */
  }
  
.btn:hover
  {
    opacity: 0.7;
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1);
    transform: scale(1.2);
  } 
  .btn:hover .text 
  {
    color: white; 
    font-style: times;
    font-weight: bold;
  } 
.active-cyan input.form-control[type=text]
  {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }
      .active-cyan .fa, .active-cyan-2 .fa {
        color: #4dd0e1;
      }
  
  .f{
    height: 220px !important;
    /*border-radius: 15px;*/
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat";
    font-weight: bold;
  }
  
  p {
    color:#8F8F8F;
  }
  .container-fluid {
    padding: 1.5% 10%;
  }
  .carouselHeading{
    text-align: left;
    margin-left: 10%;
    font-size: 2.5rem;
    color: #F5F5F5  ;
  }
  /* Section */
  .white-section{
    background-color:  #080808;
  
  }
  .colored-section{
    background-color: #080808;
    color: #fff;
  
  }
  /* Navigation Bar */
  .navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .navbar {
    margin:2rem;
    background-color:#080808;
    color:#fff;
    
  }
  .logoimg{
    text-align: center;
  }
  .nav-link {
    padding: 0 18px;
    font-family: "Montserrat";
    font-size: 1.2rem;
  }
.input-icons i 
  {
    position: absolute;
  }
.input-icons
  {
    width: 200%;
    margin-bottom: 10px;
  }
          
.icon
  {
    padding-top: 5px; 
    min-width: 40px;
    color:black; 
  }
.input-field
  {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

.dropdown-item{
    font-size: 1rem;
    background-color: #fff;
  }
  
  /* Testimonials */
  #testimonials{
    background-color: #080808;
  
  }
  .testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
  }
  .testimonial-image{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 10px;
    transition: transform 0.1s ease-in;
  }
  .text
  {
    background-color:#080808 ;
    color: #080808;
    font-size: 17px;
    margin-top : 10px;
    text-align :center;
    width :100px;
    margin-left : 40px;
  }
  
  
  #press{
    background-color: #000000;
    text-align: center;
    padding-bottom: 3%;
  }
  .press-logo{
    /* width: 15%; */
    width: 10%;
    height: 10%;
    /* margin:20px 20px 50px; */
    margin:20px 100px 50px;
  }
  /* Pricing Section */
  #pricing{
    padding: 100px;
  }
  .price-text{
    font-size:3rem;
    line-height:1.5;
  }
  .pricing-column{
    padding: 3% 2%;
  
  }
  
  .footer{
    /* background-color: #fff; */
    text-align: center;
  }
  /* Margin for icons to provide space between them */
  .social-icon{
    margin:20px 10px;
  
    /* padding: 10px 5px 10px 5px; */
  
  }
  .social-icons{
  
    color: #7d0633;
  }
  .copyright{
    font-weight: bold;
  }
  
  s
  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
  }
  
  .hovereffect:hover h2 {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
    transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect hr {
    width: 40%;
    opacity: 0;
    filter: alpha(opacity=0);
    border: 1px solid #FFF;
  }
  
  .hovereffect  hr:nth-child(3) {
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,90deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,90deg) scale3d(0,0,1);
  }
  
  .hovereffect  hr:nth-child(4) {
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,180deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1, 180deg) scale3d(0,0,1);
  }
  
  .hovereffect h2, .hovereffect hr {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
  }
  
  .set1, .set2 {
    left: 50%;
    position: absolute;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
  }
  
  .set1 {
    top: 40%;
  }
  
  .set2 {
    top: 60%;
  }
  
  .hovereffect p {
    width: 30%;
    text-transform: none;
    font-size: 15px;
    line-height: 2;
  }
  
  .hovereffect p a {
    color: #fff;
  }
  
  .hovereffect p a:hover,
  .hovereffect p a:focus {
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  
  .hovereffect  a i {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    padding: 10px;
    font-size: 20px;
  }
  
  .set1 a:first-child i {
    -webkit-transform: translate3d(-60px,-60px,0);
    transform: translate3d(-60px,-60px,0);
  }
  
  .set1 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,-60px,0);
    transform: translate3d(60px,-60px,0);
  }
  
  .set2 a:first-child i {
    -webkit-transform: translate3d(-60px,60px,0);
    transform: translate3d(-60px,60px,0);
  }
  
  .set2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,60px,0);
    transform: translate3d(60px,60px,0);
  }
  
  .hovereffect:hover hr:nth-child(3) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
  }
  
  .hovereffect:hover hr:nth-child(4) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
  }
  
  .hovereffect:hover .set1 i:empty, .hovereffect:hover .set2 i:empty {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .topnav {
    overflow: hidden;
  }
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 1px;
    font-size: 13px;
    border-radius: 15px 0 0 15px;
    border: none;
    outline: white;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 1px;
    margin-right: 40px;
    color: black;
    background-color: white;
    font-size: 13px;
    border-radius: 0 15px 15px 0;
    border: none;
    outline: white;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }}
    .place{
      width: 100%;
      display: flex;overflow-x:scroll; overflow-y: hidden;
    }
     .place::-webkit-scrollbar{
      overflow: hidden;
    }  
    .test-image{
      width: 100%;
      height: 220px;
      text-align: center;
      margin: 20px;
      transition: transform 0.1s ease-in;
    }
    .test-image:hover{
      opacity: 0.5;
      transform: scale(1.5);
    } */
    .play-text
    {
      background-color:#080808 ;
      color: red;
      font-size: 17px;
      margin-top : 50px;
      text-align :center;
      width :100px;
      margin-left : 40px;
    }

    .btn-12
  {
    width: 100vw;
    border: none;
    text-align: center;
    font-size: 16px;
    opacity: 1;
    /* transition: 0.3s; */
  }